<div class="modal-wrapper" id="add-user-modal">
	<div class="modal">
		<a href="#" onclick="closeModal()" class="modal-close">+</a>
		<div class="modal-title">
			<h2>Create New User</h2>
		</div>
		<div class="modal-body">
			<form
				method="post"
				action="/users"
				enctype="multipart/form-data"
				id="add-user-form"
			>
				<input type="text" placeholder="enter name" name="name" />
				<p class="error name-error">This is error</p>

				<input type="text" placeholder="enter email" name="email" />
				<p class="error email-error">This is error</p>

				<input type="text" placeholder="enter mobile" name="mobile" />
				<p class="error mobile-error">This is error</p>

				<input
					type="password"
					placeholder="enter password"
					name="password"
				/>
				<p class="error password-error">This is error</p>

				<input type="file" name="avatar" />

				<p class="error common-error">This is error</p>

				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
</div>
<script>
	const form = document.querySelector('#add-user-form');
	const modal = document.querySelector('#add-user-modal');

	// success message
	const successToast = Toastify({
		text: 'the user adds successfully, reload this page after one second',
		duration: 1000,
	});

	// open and close User signup modal
	function closeModal() {
		modal.style.display = 'none';
	}
	function openModal() {
		modal.style.display = 'block';
	}
	//=========//

	form.addEventListener('submit', async function (event) {
		event.preventDefault();

		const formData = new FormData(form);

		const response = await fetch('http://localhost:3000/users', {
			method: 'POST',
			body: formData,
		});

		const result = await response.json();

		const errorPlaceholder = document.querySelectorAll('p.error');
		const errorInput = document.querySelectorAll('input.error');
		errorPlaceholder.forEach((element) => {
			element.style.display = 'none';
		});
		errorInput.forEach((element) => {
			element.classList.remove('error');
		});

		if (result.error) {
			// add error message to error input element and title
			Object.keys(result.error).forEach((key) => {
				form[key].classList.add('error');
				const errorPlaceholder = document.querySelector(
					`.${key}-error`
				);
				errorPlaceholder.textContent = result.error[key].msg;
				errorPlaceholder.style.display = 'block';
			});
		} else {
			successToast.showToast();
			closeModal();
			console.log(result.userInfo);
			document.querySelector('p.error').style.display = 'none';
			// reload the page before 1 second
			setInterval(() => {
				location.reload();
			}, 3000);
		}
	});
</script>
